@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

*{
    margin: 0%;
    font-family: var(--titleFont);
    letter-spacing: 2px;
    line-height: 1.5;
}
.main{
    margin: 50px;
}
.whole{
    padding-inline: 10%;
}

:root{
    --boxColor:rgb(250, 248, 248);
    --titleFont: 'DM Sans', sans-serif;
}

.types{
    display: flex;
}
.men{
    padding-right: 50px;
}
.women{
    padding-right: 50px;
}

.sortby{
    padding-right: 50px;
}
.one img{
    width: 230px;
}

.main12 {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.main1Title{
    text-align: center;
}
.details{
    padding-left: 20px;
    background-color: var(--boxColor);
    padding-bottom: 15px;
    letter-spacing: 2px;
    padding-top: 15px;
}
#cart-sunglass{
    border: none;
 
    background-color: black;
    color: white;
    border-radius: 5px ;
    
}
.buttonGroup{
    display: flex;
    justify-content: space-around;
    background-color:var(--boxColor) ;
    padding-bottom: 20px;
    border-radius: 5px;

}
#buy{
    border: none;
    padding: 10px;
    background-color: rgb(21, 112, 21);
    color: white;   
    border-radius: 5px;
}
.one{
    border-radius: 10px;
}
.detailsPhoto{
    display: flex;
}
.photoPerson img{
    width: 350px;
    padding-right: 10px;
}
.Photoglass img{
    width: 420px;
}
.Photoglass{
    background-color: rgb(238,242,243);
    display: flex;
    flex-direction: column;
}
.detailsPhoto{
    margin: 50px;
    width: 800px;
}
.space{
    height: 10px;
    background-color: white;
}
.detailPage{
    display: flex;

}
.detailsGlass{
    border: 1px solid rgb(236, 236, 236);
    margin-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 462px;
    /* position: fixed;
    right: 100; */
}
.detailsGlass ul{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    line-height: 2;
}
.size{
    padding: 20px;
    padding-left: 40px;
    letter-spacing: 2px;
    line-height: 2;
}
hr{
    margin-left: 20px;
    width: 350px;
    height: 2px;
    background-color:  rgb(236, 236, 236);
    color:  rgb(236, 236, 236);
    border: none;
}
.price{
    margin: 20px;
    letter-spacing: 2px;
    line-height: 2;
    padding-left: 20px;
}
#cart{
    padding: 15px;
    letter-spacing: 2px;
    background-color: black;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 5px;
}
#buynow{
    padding: 15px;
    letter-spacing: 2px;
    background-color: green;
    font-size: medium;
    color: white;
    border:none;
    border-radius: 5px;
}
.buttonGroup1{
    padding-top: 20px;
}
.shipping{
    background-color: rgb(223, 222, 222);
    padding: 20px;
    text-align: center;
  
}
.a1 ul{
    list-style: none;
    padding-left: 0%;
    padding-right: 60px;
}
.aboutDetail{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 20px;
}
.aboutProduct{
    margin-left: 50px;
    letter-spacing: 2px;
    line-height: 1.5;
}
.aboutDetail1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 15px;
    padding-bottom: 20px;
}
.a1{
    width: 20%;
}

.desc{
    margin-left: 50px;
    letter-spacing: 2px;
    line-height: 1.5;
    width: 60%;
}
#longline{
    margin-left: 50px;
    width: 800px;
    
}
.desc{
    padding-top: 20px;
    padding-bottom: 20px;
} 
.desc h2{
    padding-bottom: 20px;
}
.prefer{
    margin-left: 50px;
    margin-right: 50px;
  
    padding-bottom: 20px;

}
.prefer1{
    width: 350px;
    background-color: var(--boxColor);
}
.prefer1 img{
    width: 350px;
    padding-bottom: 10px;
}
.prefer h2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.prefer1Detail{
    padding-left: 10px;
    padding-bottom: 10px;
}
.preferPhoto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main2{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    /* margin: 50px; */
}
.main2box img{
    width: 230px;
}
.main2long img{
    width: 80%;
    height: 138px;
}
.main1{
    /* margin: 50px; */
}
.main2box{
    background-color: var(--boxColor);
    height: 200px;
}
.main2long {
    background-color: var(--boxColor);
    height: 90px;
    width: 480px;
}
.main3{
    padding-top: 120px;
    padding-bottom: 30px;
    /* margin: 50px; */
}
.title2{
    padding-top: 60px;
    padding-bottom: 40px;
    color: white;
}
.ribbon{
    background-color: rgb(61, 61, 61);
    padding: 10px;
}
.more{
    padding-top: 150px;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
  
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #9ca3af;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* width: 300px; */
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.types{
    padding-left: 40px;
}
.dropdown{
    padding-right: 40px;
}
