@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

*{
    margin: 0%;
    font-family: var(--titleFont);
}

:root{
    --boxColor:rgb(250, 248, 248);
    --titleFont: 'DM Sans', sans-serif;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
}
.types{
    display: flex;
}
.men{
    padding-right: 50px;
}
.women{
    padding-right: 50px;
}
nav{
    background-color: black;
    padding: 30px;
}
.sortby{
    padding-right: 50px;
}
.one img{
    width: 250px;
}

.main12 {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.main1Title{
    text-align: center;
    padding-top: 30px;
}
.details{
    padding-left: 20px;
    background-color: var(--boxColor);
    padding-bottom: 15px;
    letter-spacing: 2px;
    padding-top: 15px;
    

}
.one button{
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
}
.buttonGroup{
    display: flex;
    justify-content: space-around;
    background-color:var(--boxColor) ;
    padding-bottom: 20px;
    border-radius: 5px;

}
#buy{
    border: none;
    padding: 10px;
    background-color: rgb(21, 112, 21);
    color: white;   
    border-radius: 5px;
}
.one{
    border-radius: 10px;
}
.detailsPhoto{
    display: flex;
}
.photoPerson img{
    width: 350px;
    padding-right: 10px;
}
.Photoglass img{
    width: 420px;
}
.Photoglass{
    background-color: rgb(238,242,243);
    display: flex;
    flex-direction: column;
}
.detailsPhoto{
    margin: 50px;
    width: 800px;
}
.space{
    height: 10px;
    background-color: white;
}
.detailPage{
    display: flex;

}
.detailsGlass{
    border: 1px solid rgb(236, 236, 236);
    margin-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 462px;
    /* position: fixed;
    right: 100; */
}
.detailsGlass ul{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    line-height: 2;
}
.size{
    padding: 20px;
    padding-left: 40px;
    letter-spacing: 2px;
    line-height: 2;
}
hr{
    margin-left: 20px;
    width: 350px;
    height: 2px;
    background-color:  rgb(236, 236, 236);
    color:  rgb(236, 236, 236);
    border: none;
}
.price{
    margin: 20px;
    letter-spacing: 2px;
    line-height: 2;
    padding-left: 20px;
}
#cart{
    padding: 15px;
    letter-spacing: 2px;
    background-color: black;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 5px;
}
#buynow{
    padding: 15px;
    letter-spacing: 2px;
    background-color: green;
    font-size: medium;
    color: white;
    border:none;
    border-radius: 5px;
}
.buttonGroup1{
    padding-top: 20px;
}
.shipping{
    background-color: rgb(223, 222, 222);
    padding: 20px;
    text-align: center;
  
}
.a1 ul{
    list-style: none;
    padding-left: 0%;
    padding-right: 60px;
}
.aboutDetail{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 20px;
}
.aboutProduct{
    margin-left: 50px;
    letter-spacing: 2px;
    line-height: 1.5;
}
.aboutDetail1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 15px;
    padding-bottom: 20px;
}
.a1{
    width: 20%;
}

.desc{
    margin-left: 50px;
    letter-spacing: 2px;
    line-height: 1.5;
    width: 60%;
}
#longline{
    margin-left: 50px;
    width: 800px;
    
}
.desc{
    padding-top: 20px;
    padding-bottom: 20px;
} 
.desc h2{
    padding-bottom: 20px;
}